@model WorkflowCoreWebsite.Models.ContactForm

<div class="form-group">
    <label asp-for="From" class="control-label"></label>
    <input asp-for="From" class="form-control" />
    <span asp-validation-for="From" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Subject" class="control-label"></label>
    <input asp-for="Subject" class="form-control" />
    <span asp-validation-for="Subject" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Message" class="control-label"></label>
    <textarea asp-for="Message" class="form-control"></textarea>
    <span asp-validation-for="Message" class="text-danger"></span>
</div>

